/* global */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,600&family=Roboto+Slab:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
}

section {
  padding: 109px 0 102px;
}

li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
}

/* nav */
.navigation {
  width: 100%;
  padding: 35px 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.navigation .row {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .logo {
  color: #FED136;
  font-weight: bold;
  font-size: 26px;
}

.navigation .navbar {
  text-align: right;
  position: relative;
  margin-bottom: -25px;
}

.navigation .burger {
  font-size: 35px;
  color: #FED136;
  display: none;
}

.navigation ul.row {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation li {
  position: relative;
  text-align: center;
  min-width: 105px;
  z-index: 2;
  padding: 0 3px;
}

.sub-menu-opener {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: auto 5px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}

.sub-menu-opener:hover {
  border-bottom: 2px solid #FED136;
}

.navigation .logo:hover {
  border-bottom: none;
}

.sub-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100%;
  min-height: 120px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -120%);
  padding-top: 30px;
  background: #222222;
  transition: 0.2s;
  z-index: -1;
  opacity: 0;
}

.sub-menu-opener-one.active + .sub-menu {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu-opener-two.active + .sub-menu {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu-opener-three.active + .sub-menu {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu-opener-four.active + .sub-menu {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu-opener-five.active + .sub-menu {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu a {
  border-bottom: 2px solid transparent;
  padding: 0 10px;
}

.sub-menu a:hover {
  border-bottom: 2px solid white;
}

/* header */
.splash {
  background: url(https://i.postimg.cc/tJG3dz1s/Background-Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  position: relative;
}

.splash::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.splash-inner {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: white;
}

.page-subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
}

.page-title {
  font-size: 75px;
  text-transform: uppercase;
  margin: 20px 0 40px;
  word-spacing: -4px;
  font-weight: bold;
}

.btn-first {
  background-color: #FED136;
  padding: 20px 49px;
  font-weight: bold;
  font-size: 18px;
}

/* services */
.content {
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.content-description {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 80px;
}

.content-item {
  padding: 0 50px;
}

.circle-border {
  position: relative;
  display: inline-block;
  border: 3px solid #FED136;
  border-radius: 50%;
  padding: 33px;
}

.circle-border img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  object-fit: cover;
}

.content-item h4 {
  font-size: 18px;
  font-weight: bold;
}

.content-item-description {
  font-family: "Roboto Slab", serif;
  color: #777777;
}

/* portfolio */
.portfolio {
  background: #F7F7F7;
  padding-bottom: 120px;
}

.portfolio .content-item {
  padding: 0 35px 50px;
}

.portfolio .content-item img {
  width: 100%;
}

.portfolio-desc-wrapper {
  text-align: center;
  padding: 26px 0 19px;
  background: white;
  line-height: 1.2;
}

.portfolio-desc-wrapper h4 {
  margin: 0;
}

.portfolio .content-item-description {
  font-style: italic;
}

/* footer */
.page-footer {
  padding: 40px 0;
}

.page-footer .social {
  margin: 0;
  -ms-flex-pack: center;
      justify-content: center;
  transform: translateX(-50%);
}

.page-footer p {
  font-size: 14px;
}

.page-footer i {
  color: #222222;
  font-size: 30px;
  margin: 0 5px;
}

/* media */
@media (max-width: 991px) {
  .page-footer .row {
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .page-footer .social {
    -ms-flex-direction: row;
        flex-direction: row;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .navigation {
    padding: 15px 0;
  }
  .navigation ul.row {
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    margin: 0;
    padding: 0;
    background: #222222;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 2;
    transform: translate(-50%, -200%);
    transition: 0.2s;
  }
  .navigation li {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .navigation ul.row.show {
    width: 130%;
    transform: translate(-50%);
  }
  .navigation .burger {
    display: block;
    margin-bottom: 25px;
  }
  i.disappear {
    display: none;
  }
  .navigation ul li {
    text-align: center;
  }
  .navigation ul a {
    font-size: 16px;
    padding: 40px 0;
  }
  .navbar ul.row {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .sub-menu {
    position: absolute;
    top: 60px;
    min-height: 10px;
    padding: 0;
  }
  .sub-menu-opener:hover {
    border: none;
  }
  .navigation .sub-menu a {
    color: #FED136;
    padding: 10px 0 0 0;
  }
  .page-title {
    font-size: 55px;
  }
  .content-item {
    margin-bottom: 50px;
  }
  .page-footer p {
    margin: 15px;
  }
  .social {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .navigation .burger {
    display: block;
  }
  .navigation .logo {
    font-size: 20px;
  }
  .page-subtitle {
    font-size: 25px;
  }
  .page-title {
    font-size: 30px;
  }
  .btn-first {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */