/* global */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,600&family=Roboto+Slab:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
}

section {
  padding: 109px 0 102px;
}

ul {
  list-style-type: none;
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
}

/* header .navigation */
input[type=checkbox] {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  background: transparent;
}

.company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #FED136;
}

.logo:hover {
  color: #FED136;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu li {
  display: inline-block;
  text-align: center;
  position: relative;
  min-width: 12vh;
  margin: 0 3px;
}

.main-menu a {
  color: white;
}

.main-menu a:hover {
  color: #FED136;
}

.sub-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 3px;
  display: none;
}

.navigation li:hover ul {
  display: block;
}

.sub-menu li {
  display: block;
  background: #222222;
}

.sub-menu li a {
  display: block;
  width: 100%;
  padding: 5px 12px;
}

#sidebarMenu {
  display: none;
}

/* header .splash */
.splash {
  background: url(https://i.postimg.cc/tJG3dz1s/Background-Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.splash::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.splash-inner {
  width: 85%;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  text-align: center;
  color: white;
}

.page-subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
}

.page-title {
  font-size: 75px;
  text-transform: uppercase;
  margin: 20px 0 40px;
  word-spacing: -4px;
  font-weight: bold;
}

.btn-first {
  background-color: #FED136;
  padding: 20px 49px;
  font-weight: bold;
  font-size: 18px;
}

/* services */
.content {
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.content-description {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 80px;
}

.content-item {
  padding: 0 50px;
}

.circle-border {
  position: relative;
  display: inline-block;
  border: 3px solid #FED136;
  border-radius: 50%;
  padding: 33px;
}

.circle-border img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-item h4 {
  font-size: 18px;
  font-weight: bold;
}

.content-item-description {
  font-family: "Roboto Slab", serif;
  color: #777777;
}

/* portfolio */
.portfolio {
  background: #F7F7F7;
  padding-bottom: 120px;
}

.portfolio .content-item {
  padding: 0 35px 50px;
}

.portfolio-item-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  background-color: #F7F7F7;
  line-height: 1.2;
  margin: 0 auto;
}

.portfolio-item-wrapper img {
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-item-wrapper h4 {
  margin: 0;
}

.item-desc {
  background-color: white;
  padding: 25px 0 19px;
}

.portfolio .content-item-description {
  font-style: italic;
}

/* footer */
.page-footer {
  padding: 40px 0;
}

.page-footer .social {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-footer p {
  font-size: 14px;
}

.page-footer i {
  color: #222222;
  font-size: 30px;
  margin: 0 5px;
}

/* media */
@media (max-width: 991px) {
  .page-footer .row {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-footer .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .page-subtitle {
    font-size: 35px;
  }
  .page-title {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    display: none;
  }
  #sidebarMenu {
    display: block;
  }
  #sidebarMenu {
    height: auto;
    position: fixed;
    top: 35px;
    right: 0;
    width: 300px;
    margin-top: 60px;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    background: #222222;
    z-index: 4;
  }
  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner li {
    position: relative;
    list-style: none;
    color: #FED136;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sub-menu {
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 50%;
  }
  .sub-menu li {
    padding: 0;
    border-bottom: none;
  }
  .sub-menu li a {
    padding: 20px 0;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type=checkbox] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: initial;
    right: 15px;
    height: 22px;
    width: 35px;
  }
  .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FED136;
  }
  .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
  .page-title {
    font-size: 55px;
  }
  .btn-first {
    margin-top: 70px;
    font-size: 12px;
  }
  .content-item {
    margin-bottom: 50px;
  }
  .page-footer p {
    margin: 15px;
  }
  .social {
    text-align: center;
  }
}

@media (max-width: 576px) {
  #sidebarMenu {
    right: 10%;
    width: 80%;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  .page-subtitle {
    font-size: 30px;
  }
  .page-title {
    font-size: 40px;
  }
  .btn-first {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */