/* global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,600&family=Roboto+Slab:wght@300;400;600&display=swap');
$black-color: #222222;
$withe-color: white;
$yellow-color: #FED136;
$gray-light-color: #F7F7F7;
$font-main: 'Montserrat',
sans-serif;
$font-second: 'Roboto Slab',
serif;
$transition: .2s;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    line-height: 1.7;
    overflow-x: hidden;

}

section {
    padding: 98px 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $withe-color;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
}

/* nav */

.navigation {
    width: 100%;
    padding: 35px 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.navbar .row {
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    color: $yellow-color;
    font-weight: bold;
    font-size: 30px;
}

.navigation .navbar {
    text-align: right;
    position: relative;
}

.navigation .burger {
    font-size: 35px;
    color: $yellow-color;
    display: none;
}

.navigation ul.row {
    justify-content: space-between;
}

.navigation li {
    position: relative;
    text-align: center;
    min-width: 105px;
    z-index: 2;
    padding: 0 3px;
}

.sub-menu-opener {
    color: $withe-color;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5px;
    border-bottom: 2px solid transparent;
}

.sub-menu-opener:hover {
    border-bottom: 2px solid $yellow-color;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    min-height: 120px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -120%);
    padding-top: 30px;
    background: $black-color;
    transition: $transition;
    z-index: -1;
    opacity: 0;
}

.sub-menu-opener-one.active+.sub-menu {
    transform: translate(-50%, 0);
    opacity: 1;
}

.sub-menu-opener-two.active+.sub-menu {
    transform: translate(-50%, 0);
    opacity: 1;
}

.sub-menu-opener-three.active+.sub-menu {
    transform: translate(-50%, 0);
    opacity: 1;
}

.sub-menu-opener-four.active+.sub-menu {
    transform: translate(-50%, 0);
    opacity: 1;
}

.sub-menu-opener-five.active+.sub-menu {
    transform: translate(-50%, 0);
    opacity: 1;
}

.sub-menu a {
    border-bottom: 2px solid transparent;
    padding: 0 10px;
}

.sub-menu a:hover {
    border-bottom: 2px solid $withe-color;
}

/* header */

.splash {
    background: url(https://i.postimg.cc/tJG3dz1s/Background-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.splash::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $withe-color;
}

.page-subtitle {
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
}

.page-title {
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 20px;
    word-spacing: -4px;
}

.btn-first {
    background-color: $yellow-color;
    padding: 10px 15px;
    margin-top: 20px;
}

.content {
    text-align: center;
}

.section-title {
    font-size: 35px;
    text-transform: uppercase;
}

.content-description {
    font-weight: 300;
    font-style: italic;
    padding-bottom: 88px;
}

.circle-border {
    position: relative;
    display: inline-block;
    border: 2px solid $yellow-color;
    border-radius: 50%;
    padding: 66px;
    margin-bottom: 25px;
}

.circle-border img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    object-fit: cover;


}

.content-item {
    margin-bottom: 50px;
}

.content-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.content-item-description {
    font-weight: 200;
    font-family: $font-second;
    $gray-light-color
}

/* portfolio */

.portfolio {
    background: $gray-light-color;
}

.portfolio .content-item {
    background: $withe-color;
    padding: 0 0 15px 0;
    border: 15px solid $gray-light-color;
}

.portfolio .content-item img {
    width: 100%;
}

.portfolio .content-item-description {
    font-style: italic;
}

/* footer */
.page-footer {
    padding: 25px 0;
}

.page-footer .row {
    align-items: center;
}

.page-footer p {
    font-size: 12px;
    margin-right: 80px;
}

.page-footer i {
    color: $black-color;
    font-size: 30px;
    margin-right: 20px;
}

/* media */


@media (max-width: 767px) {
    .navigation {
        padding: 15px 0;
    }

    .navigation ul.row {
        position: absolute;
        top: 60px;
        left: 0;
        width: 0;
        margin: 0;
        padding: 0;
        background: $black-color;
        flex-direction: column;
        z-index: 2;
        transform: translate(-50%, -200%);
        transition: $transition;
    }

    .navigation li {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .navigation ul.row.show {
        width: 130%;
        transform: translate(-50%);
    }

    .navigation .burger {
        display: block;
    }

    i.disappear {
        display: none;
    }


    .navigation ul li {
        text-align: center;
    }

    .navigation ul a {
        font-size: 16px;
        padding: 40px 0;
    }

    .navbar ul.row {
        justify-content: center;
    }

    .sub-menu {
        position: absolute;
        top: 60px;
        min-height: 10px;
        padding: 0;
    }

    .sub-menu-opener:hover {
        border: none;
    }

    .navigation .sub-menu a {
        color: $yellow-color;
        padding: 10px 0 0 0;
    }

    .page-footer p {
        margin: 15px;
    }

    .social {
        // margin-left: 15px;
        text-align: center;
    }
}

@media (max-width: 576px) {

    .navigation .burger {
        display: block;
    }

    .navigation .logo {
        font-size: 20px;
    }

    .page-subtitle {
        font-size: 25px;
    }

    .page-title {
        font-size: 35px;
    }

    .btn-first {
        font-size: 12px;
    }
}